# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    secret:            ThisTokenIsNotSoSecretChangeIt

    ga_tracker_id:     0

    tracks_per_page:   9
    
    track_endpoint: http://player.radiomeuh.com/rtdata/tracks.xml

    website_link: http://radiomeuh.com
    player_link: http://player.radiomeuh.com
    bot_link: http://t.me/RadioMeuhBot

    # For tuneefy links
    tuneefy_token: infiniteToken
    tuneefy_track_endpoint: "http://data.tuneefy.com/v2/aggregate/track?limit=1&aggressive&q=%s"
    tuneefy_share_endpoint: "http://data.tuneefy.com/v2/share/%s"