mydomain.com, www.mydomain.com {
    @redirwww {
        host www.mydomain.com
    }
    redir @redirwww https://mydomain.com{uri} permanent
    # cf. https://caddy.community/t/caddy2-symfony/6978
    root * /path/to/project/current/public
    php_fastcgi 127.0.0.1:8000 # change to accomodate your php-fpm settings
    file_server
}