body {
  background: url(../img/logo.png) no-repeat center 20px #FFFFFF;
  background-size: 300px;
  padding-top: 170px;
}

.container.current .grid.centered {
  font-size: 1.3em;
  text-align: left;
}

.container.current .grid.centered .item .content {
  margin-top: 6px;
}
.container.current .grid.centered .item .extra {
  margin-top: 30px;
}

.ui.centered.inline.loader.active {
  margin: 100px auto;
}

.ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui.cards.home > .card > .image {
  background: black;
  height: 208px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.ui.items > .item > .image {
  background: black;
}

.ui.very.relaxed.items.secondary.segment.piled > .item {
  font-size: 1.25em;
  margin: 2em;
}

.ui.button.spotify {
  background: #2ebd59;
  color: white;
}

.ui.container.message {
  margin-bottom: 20px;
}